@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
@using Factory.Models

<h1> Add an Machine</h1>
<h4> Adding a licensed machine for @Model.Name</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Add" />
}
<p> @Html.ActionLink("Engineer not found? Click here to add them to the database.", "Create", "Engineers")</p>

<hr />
<p> @Html.ActionLink($"Back to Machine: {@Model.Name}", "Details", new { machineId = Model.MachineId })</p>
<p> @Html.ActionLink("Back to Machines List", "Index")</p>