@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer
@using Factory.Models

<h1> Add a Machine License</h1>
<h4> Adding a machine license for @Model.Name</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Add" />
}
<p> @Html.ActionLink("Machine not found? Click here to add it to the database.", "Create", "Machines")</p>

<hr />
<p> @Html.ActionLink($"Back to Engineer: {@Model.Name}", "Details", new { engineerId = Model.EngineerId })</p>
<p> @Html.ActionLink("Back to Engineers List", "Index")</p>